body {
  margin-top: 50px;
}
.card {
  border: 2px orange solid;
}
h1 {
  text-align: center;
  font-weight: 100;
  line-height: 1.5;
}
ul {
  list-style: none;
  text-align: center;
  font-size: larger;
  font-weight: 700;
}

li {
  text-transform: capitalize;
}

button {
  display: block;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid orange;
  padding: 10px 5px;
}

button:hover {
  background-color: black;
  color: orange;
}

input {
  border-radius: 5px;
  border: 2px solid orange;
  align-items: center;
  border-image: none;
  padding: 5px 10px;
  background-color: white;
}
#search-button {
  padding: 10 0;
}
#city-search {
  padding-right: 200px;
  margin-right: 15px;
}

input:hover {
  background-color: black;
  color: orange;
}

.lastUpdated {
  font-size: xx-small;
  text-align: center;
}

.cityTemp {
  text-align: center;
}
.icon {
  display: block;
}

.weather-forecast {
  color: black;
  padding-top: 55px;
  text-transform: capitalize;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

a {
  margin-left: 700px;
  text-align: center;
  font-weight: 500;
  font-size: small;
}
