body {
  margin: 50px;
}
h1 {
  color: black;
}

ul {
  list-style: none;
  padding-left: 1rem;
  margin-bottom: 0;
  text-align: center;
  color: black;
  font-size: larger;
  font-weight: 700;
}

li {
  text-transform: capitalize;
}

button {
  display: block;
}

input {
  background-color: black;
  color: white;
  border-radius: 5px;
  border: 1px solid transparent;
  border-color: white;
  align-items: center;
  border-image: none;
  padding: 5px 10px;
}
a {
  text-decoration: none;
}

.cityTemp .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.cityTemp .active:hover {
  text-decoration: underline;
}

.emoji {
  size: 100rem;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: black;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}
